$primary-color: #008b8b;

.OneCourse {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    h5 {
        color: $primary-color;
    }

    &.from-cart {
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.5rem;
        box-shadow: none;
        border-bottom: black solid 1px;
        border-radius: 0;

        .course-image {
            width: 120px;
            height: 120px;
            object-fit: cover;
            margin-left: 1rem;
            border-radius: 8px;
            margin-right: 2%;
        }

        .course-details {
            flex: 1;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h5,
            h6 {
                margin: 0.2rem;
            }
        }

        .actions {
            display: flex;
            align-items: center;

            .MuiIconButton-root {
                color: $primary-color;

                &:hover {
                    background-color: rgba(0, 139, 139, 0.1);
                }
            }
        }
    }

    .course-image {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        margin: 0.5rem 0;
        object-fit: cover;
    }

    .typography-image {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .actions {
        display: flex;
        gap: 0.5rem;

        .MuiIconButton-root {
            color: $primary-color;
            background-color: transparent;
            border: 2px solid $primary-color;
            border-radius: 50%;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(0, 139, 139, 0.1);
            }
        }
    }

    @media (max-width: 890px) {
        .OneCourse {
            max-width: 60% !important;
        }
    }
}